body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: black;
}

.border-white {
  border: 2px solid white;
}


.text-blue {
  color: paleturquoise;
}

.btn-blue {
  background-color: paleturquoise;
}

.done:hover {
  text-decoration: line-through;
}

input.list-check {
  width: 25px;
  height: 25px;
}

